{extend name="index/base" /}
{block name="title"}{:lang('About')} - {$Hidove.config.system.base.sitename}{/block}
{block name="head"}
{/block}
{block name="body"}
<div class="container Hidove-main mt-3 mb-3">
    <div class="page-header mt-3 mb-5">
        <h1>关于 {$Hidove.config.system.base.sitename}</h1>
    </div>
    <div class="border border-secondary shadow-sm p-3 mb-3 bg-white rounded">
        <h2><i class="far fa-laugh-squint"></i>&nbsp;&nbsp;<a class="badge badge-secondary" href="/">{$Hidove.config.system.base.sitename}</a></h2>
        <p>免费图床仅供分享图片使用，我们保留随时删除图片并举报上传违规图片者的权利</p>
    </div>

    <div class="border border-secondary shadow-sm p-3 mb-3 bg-white rounded">
        <h2><i class="far fa-angry"></i>&nbsp;&nbsp;严禁上传及分享如下类型的图片：</h2>
        <ul>
            <li>含有色情、暴力、宣扬恐怖主义的图片</li>
            <li>侵犯版权、未经授权的图片</li>
            <li>其他违反中华人民共和国法律的图片</li>
            <li>其他违反香港法律的图片</li>
        </ul>
    </div>

    <div class="border border-secondary shadow-sm p-3 mb-3 bg-white rounded text-center">
        <span>违规图片投诉邮箱&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-secondary"><code>{$Hidove.config.system.base.email}</code></button></span>
    </div>
</div>
{/block}
{block name="script"}
{/block}