{extend name="index/base" /}
{block name="title"}{:lang('Refresh Cache')} - {$Hidove.config.system.base.sitename}{/block}
{block name="head"}
<style>
</style>
{/block}
{block name="body"}
<div class="container Hidove-main mt-5">
    <div class="col-md-9 shadow rounded py-3" style="margin: auto">
        <h2 style="text-align: center">刷新分发CDN缓存</h2>
        <h4 class="mt-3" style="text-align: center">这个貌似不用多介绍，一行一个，分发地址格式：https://xxx.com/image/xxx</h4>
        <div class="form-group">
            <textarea class="form-control" id="refreshUrl" rows="5"></textarea>
        </div>
        <button id="send" type="button" class="btn btn-outline-secondary btn-block">提交</button>
        <button id="refreshConfig" type="button" class="btn btn-outline-secondary btn-block">刷新配置缓存</button>
        <button id="refreshImageDistribution" type="button" class="btn btn-outline-secondary btn-block">刷新图片标识缓存</button>
        <button id="refreshAll" type="button" class="btn btn-outline-secondary btn-block">刷新全部缓存</button>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/index/js/user/cache.js"></script>
{/block}