{extend name="index/base" /}
{block name="title"}{:lang('Refresh Cache')} - {$Hidove.config.system.base.sitename}{/block}
{block name="head"}
{/block}
{block name="body"}
<div class="container Hidove-main mt-5">
    <div class="col-md-9 shadow rounded py-3" style="margin: auto">
        <h2 style="text-align: center">节点管理</h2>
        <h4 class="mt-3" style="text-align: center">这个貌似也不用多介绍，请选择你需要<span class="text-danger"> 禁用 </span>的节点并提交</h4>
        <div class="card mb-3 mt-3">
            <div class="card-body">
                <h5 class="card-title">Free</h5>
                <div class="btn-group-toggle" data-toggle="buttons" id="apiType">
                    {foreach $Hidove.api as $key=>$value}
                    {if $value.checked == true}
                    <label class="btn btn-outline-secondary active">
                        <input type="checkbox" checked autocomplete="off" name="apiType" value="{$value.key}" title="{$value.name}">{$value.name}
                    </label>
                    {else}
                    <label class="btn btn-outline-secondary">
                        <input type="checkbox" autocomplete="off" name="apiType" value="{$value.key}" title="{$value.name}">{$value.name}
                    </label>
                    {/if}
                    {/foreach}
                </div>
            </div>
        </div>
        <button id="send" type="button" class="btn btn-outline-secondary btn-block">提交</button>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/index/js/user/node.js"></script>
{/block}