/**
*
*
*/

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CECFD2; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CECFD2;opacity:1;
}

input:-ms-input-placeholder{
    color: #CECFD2;opacity:1;
}

input::-webkit-input-placeholder{
    color: #CECFD2;opacity:1;
}
html, body { padding: 0; margin: 0; height: 100%; font-size: 16px; background-repeat: no-repeat; background-position: left top; background-color: #242645; color: #fff; font-family: 'Source Sans Pro'; background-size: 100%; background-image: url(../images/Starry.jpg); }

h1 {
	font-size: 2.8em;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0.6rem 0;
}
h1 > span {font-weight: 300; }
h2 {
	font-size: 1.15em;
	font-weight: 300;
	margin: 0.3rem 0;
}